<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Editing <%= campground.title %>
        </h1>
        <div class="col-med-6 offset-med-3">
            <form method="post" action="/campgrounds/<%= campground._id %>?_method=PUT" novalidate
                class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" placeholder="Title"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        placeholder="Location" value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Add Images</label>
                    <input type="file" name="image" id="image" multiple>
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control mb-3" name="campground[description]" id="description" cols="30"
                        rows="10" placeholder="Description" required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mb-3">
                    <div>
                        <label class="form-label" for="image">Add more image(s)</label>
                        <input type="file" class="form-control" id="image" name="image" multiple />
                    </div>
                </div>
                
                    <div class="mb-3">
                        <% campground.images.forEach(function(img,i) { %>
                            <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="" >
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%= i %>" name="deleteImages[]"value="<%= img.filename %>">
                            </div>
                            <label for="image-<%= i %>">Delete?</label>
                        <% }) %>
                    </div>
                    
                <div class="mb-3 border">
                    <button class="btn btn-success">Update Campground</button>
                </div>
            </form>
            <div class="mb-3">
                <a href="/campgrounds">All Campgrounds</a>
            </div>

        </div>
    </div>